@import "../../../style/__vendor.styl"

[data-atom=leaflet]
  position: relative
  display: block
  background-color: #ddd
  display-flex()
  justify-content center
  align-content center
  align-items center
  &.full
    position: absolute !important
    width: 100% !important
    height: 100% !important
  &.big
    height: 12rem
  &.small
    height: 6rem
  &:not(.full):not(.big):not(.small)
    height: 8rem
  > .icon
    display: block
    font-size: SIZE = 3rem
    width: SIZE
    height: SIZE
    color: WHITE
