@import "../../../style/__vendor.styl"

[data-atom=leaflet]
  position: relative
  display: block
  background-color: #ddd
  display-flex()
  justify-content center
  align-content center
  align-items center

  &.big
    height: 192px
  &.small
    height: 96px
  &:not(.big):not(.small)
    height: 128px

  > .icon
    display: block
    font-size: SIZE = 3rem
    width: SIZE
    height: SIZE
    color: WHITE

[data-organism=section][data-extend=leaflet]
  position: relative
  > [data-atom=leaflet]
    z-index: 0
    position: absolute
    width: 100%
    height: 100% !important

  > [data-atom=button], > [data-molecule=form]
    z-index: 1
    position: absolute

  AIR = 0.75rem
  > [data-atom=button]
    top: 0
    margin: AIR
  > [data-molecule=form]
    bottom: 0
    padding: AIR
